@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "VT323", monospace;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    background-color: black;
    color: #f8f9fa;
    font-family: var(--font-sans);
  }

  a {
    color: #f8f9fa;
    text-decoration: underline;
  }

  a:hover {
    color: #adb5bd;
  }

  h1 {
    font-size: 2.5rem;
  }
}
