@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --font-pixels: "VT323", monospace;
  --color-text: #f3eee2;
  --color-primary: #edb95e;
}

@layer base {
  html,
  body {
    background: #222729;
    color: var(--color-text);
  }
}
